.app-container{
  text-align: center;
  justify-content: center
}
.tangata{
  display: flex;
  justify-content: center
}

.results{
  display: flex;
  flex-direction: column;  
}
.areas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.tangata input{
  display:none;
  margin:0;
  padding:0;
  -webkit-appearance:none;
  -moz-appearance:none
}

.areas input{
  display:none;
  margin:0;
  padding:0;
  -webkit-appearance:none;
  -moz-appearance:none
}

.checkboxes input{
  display:none;
  margin:0;
  padding:0;
  -webkit-appearance:none;
  -moz-appearance:none
}

.areas input:active +.label{
  opacity: .9
}

.areas input:checked +.label{
  -webkit-filter: none;
     -moz-filter: none;
          filter: none
}

input:active +.label{
  opacity: .9
}

input:checked +.label{
  -webkit-filter: none;
     -moz-filter: none;
          filter: none
}

.checkboxes input:checked +.label{
  -webkit-filter: none;
  -moz-filter: none;
       filter: none
}

.section.row{
  display: flex;
  flex-direction: row
}

.label{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-flex;
  -webkit-transition: all 120ms ease-in;
     -moz-transition: all 120ms ease-in;
          transition: all 120ms ease-in;
  -webkit-filter: brightness(1.8) opacity(.4);
     -moz-filter: brightness(1.8) opacity(.4);
          filter: brightness(1.8) opacity(.4)
}

.tangata label{
  width:190px;height:190px
}

.areas label{
  width:48px;height:48px
}

.label:hover{
  transform: scale(1.1);
  -webkit-filter: brightness(1.2) opacity(.7);
     -moz-filter: brightness(1.2) opacity(.7);
          filter: brightness(1.2) opacity(.7)
}

input[type=number] {
  background-color:lightgray;
  color: black;
  font-weight: 400;
  font-size: 1.5em;
  border-radius: 6px;
  border: 4px solid darkgrey;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  width: 200px
}

.entitlement{
  background-color:lightgray;
  color: black;
  font-weight: 400;
  font-size: 1.5em;
  border-radius: 6px;
  border: 4px solid darkgrey;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  width: 200px;
  align-self: center;    
}

.face{width:200px;height:200px}
.single{background:url(single.png)}
.partner{background:url(partner.png)}
.kids{background:url(kids.png)}
.nokids{background:url(nokids.png)}
.under20{background:url(18to19.png)}
.early20s{background:url(20to24.png)}
.late20splus{background:url(25plus.png)}
.athome{background:url(athome.png)}
.awayfromhome{background:url(awayfromhome.png)}
.working{background:url(working.png)}
.notworking{background:url(notworking.png)}
.a1{background:url(1.png)}
.a2{background:url(2.png)}
.a3{background:url(3.png)}
.a4{background:url(4.png)}
.relationship{background:url(relationship.png);width:330px;height:65px}
.parent{background:url(parent.png);width:130px;height:50px}
.children{background:url(children.png);width:350px;height:100px}
.superVet{background:url(supervet.png);width:500px;height:100px}
.nonbeneficiary{background:url(face.png);width:200px;height:200px}
