.app-container{
  text-align: center;
}
.tangata{
  display: flex;
  justify-content: center
}

.tangata input{
  display:none;
  margin:0;
  padding:0;
  -webkit-appearance:none;
  -moz-appearance:none
}

.tangata input:active +.label{
  opacity: .9
}

.tangata input:checked +.label{
  -webkit-filter: none;
     -moz-filter: none;
          filter: none
}

.label{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-flex;
  -webkit-transition: all 120ms ease-in;
     -moz-transition: all 120ms ease-in;
          transition: all 120ms ease-in;
  -webkit-filter: brightness(1.8) opacity(.4);
     -moz-filter: brightness(1.8) opacity(.4);
          filter: brightness(1.8) opacity(.4)
}

.tangata label{
  width:190px;height:190px;
}

.label:hover{
  transform: scale(1.1);
  -webkit-filter: brightness(1.2) opacity(.7);
     -moz-filter: brightness(1.2) opacity(.7);
          filter: brightness(1.2) opacity(.7)
}

.face{width:200px;height:200px}
.single{background:url(single.png)}
.partner{background:url(partner.png)}
.kids{background:url(kids.png)}
.nokids{background:url(nokids.png)}
.under20{background:url(18to19.png)}
.early20s{background:url(20to24.png)}
.late20splus{background:url(25plus.png)}
.athome{background:url(athome.png)}
.awayfromhome{background:url(awayfromhome.png)}
.working{background:url(working.png)}
.notworking{background:url(notworking.png)}